/*------------------------------------------Margin Top Start------------------------------------------------*/
.mt_5 {
  margin-top: 5px;
}
.mt_10 {
  margin-top: 10px;
}
.mt_15 {
  margin-top: 15px;
}
.mt_20 {
  margin-top: 20px;
}
.mt_25 {
  margin-top: 25px;
}
.mt_30 {
  margin-top: 30px;
}
.mt_35 {
  margin-top: 35px;
}
.mt_40 {
  margin-top: 40px;
}
.mt_45 {
  margin-top: 45px;
}
.mt_50 {
  margin-top: 50px;
}
.mt_55 {
  margin-top: 55px;
}
.mt_60 {
  margin-top: 60px;
}
.mt_65 {
  margin-top: 65px;
}
.mt_70 {
  margin-top: 70px;
}
.mt_75 {
  margin-top: 75px;
}
.mt_80 {
  margin-top: 80px;
}
.mt_85 {
  margin-top: 85px;
}
.mt_90 {
  margin-top: 90px;
}
.mt_95 {
  margin-top: 95px;
}
.mt_100 {
  margin-top: 100px;
}
.mt_105 {
  margin-top: 105px;
}
.mt_110 {
  margin-top: 110px;
}
.mt_115 {
  margin-top: 115px;
}
.mt_120 {
  margin-top: 120px;
}
.mt_125 {
  margin-top: 125px;
}
.mt_130 {
  margin-top: 130px;
}
.mt_135 {
  margin-top: 135px;
}
.mt_140 {
  margin-top: 140px;
}
.mt_145 {
  margin-top: 145px;
}
.mt_150 {
  margin-top: 150px;
}
.mt_155 {
  margin-top: 155px;
}
.mt_160 {
  margin-top: 160px;
}
.mt_165 {
  margin-top: 165px;
}
.mt_170 {
  margin-top: 170px;
}
.mt_175 {
  margin-top: 175px;
}
.mt_180 {
  margin-top: 180px;
}
.mt_185 {
  margin-top: 185px;
}
.mt_190 {
  margin-top: 190px;
}
.mt_195 {
  margin-top: 195px;
}
.mt_200 {
  margin-top: 200px;
}
.mt_205 {
  margin-top: 205px;
}
.mt_210 {
  margin-top: 210px;
}
.mt_215 {
  margin-top: 215px;
}
.mt_220 {
  margin-top: 220px;
}
.mt_225 {
  margin-top: 225px;
}
.mt_230 {
  margin-top: 230px;
}
.mt_235 {
  margin-top: 235px;
}
.mt_240 {
  margin-top: 240px;
}
.mt_245 {
  margin-top: 245px;
}
.mt_250 {
  margin-top: 250px;
}
.mt_255 {
  margin-top: 255px;
}
.mt_260 {
  margin-top: 260px;
}
.mt_265 {
  margin-top: 265px;
}
.mt_270 {
  margin-top: 270px;
}
.mt_275 {
  margin-top: 275px;
}
.mt_280 {
  margin-top: 280px;
}
.mt_285 {
  margin-top: 285px;
}
.mt_290 {
  margin-top: 290px;
}
.mt_295 {
  margin-top: 295px;
}
.mt_300 {
  margin-top: 300px;
}
.mt_350 {
  margin-top: 350px;
}
.mt_400 {
  margin-top: 400px;
}
.mt_5 {
  margin-top: 5px;
}
.mt_10 {
  margin-top: 10px;
}
.mt_15 {
  margin-top: 15px;
}
.mt_20 {
  margin-top: 20px;
}
.mt_25 {
  margin-top: 25px;
}
.mt_30 {
  margin-top: 30px;
}
.mt_35 {
  margin-top: 35px;
}
.mt_40 {
  margin-top: 40px;
}
.mt_45 {
  margin-top: 45px;
}
.mt_50 {
  margin-top: 50px;
}
.mt_55 {
  margin-top: 55px;
}
.mt_60 {
  margin-top: 60px;
}
.mt_65 {
  margin-top: 65px;
}
.mt_70 {
  margin-top: 70px;
}
.mt_75 {
  margin-top: 75px;
}
.mt_80 {
  margin-top: 80px;
}
.mt_85 {
  margin-top: 85px;
}
.mt_90 {
  margin-top: 90px;
}
.mt_95 {
  margin-top: 95px;
}
.mt_100 {
  margin-top: 100px;
}
.mt_105 {
  margin-top: 105px;
}
.mt_110 {
  margin-top: 110px;
}
.mt_115 {
  margin-top: 115px;
}
.mt_120 {
  margin-top: 120px;
}
.mt_125 {
  margin-top: 125px;
}
.mt_130 {
  margin-top: 130px;
}
.mt_135 {
  margin-top: 135px;
}
.mt_140 {
  margin-top: 140px;
}
.mt_145 {
  margin-top: 145px;
}
.mt_150 {
  margin-top: 150px;
}
.mt_155 {
  margin-top: 155px;
}
.mt_160 {
  margin-top: 160px;
}
.mt_165 {
  margin-top: 165px;
}
.mt_170 {
  margin-top: 170px;
}
.mt_175 {
  margin-top: 175px;
}
.mt_180 {
  margin-top: 180px;
}
.mt_185 {
  margin-top: 185px;
}
.mt_190 {
  margin-top: 190px;
}
.mt_195 {
  margin-top: 195px;
}
.mt_200 {
  margin-top: 200px;
}
.mt_205 {
  margin-top: 205px;
}
.mt_210 {
  margin-top: 210px;
}
.mt_215 {
  margin-top: 215px;
}
.mt_220 {
  margin-top: 220px;
}
.mt_225 {
  margin-top: 225px;
}
.mt_230 {
  margin-top: 230px;
}
.mt_235 {
  margin-top: 235px;
}
.mt_240 {
  margin-top: 240px;
}
.mt_245 {
  margin-top: 245px;
}
.mt_250 {
  margin-top: 250px;
}
.mt_255 {
  margin-top: 255px;
}
.mt_260 {
  margin-top: 260px;
}
.mt_265 {
  margin-top: 265px;
}
.mt_270 {
  margin-top: 270px;
}
.mt_275 {
  margin-top: 275px;
}
.mt_280 {
  margin-top: 280px;
}
.mt_285 {
  margin-top: 285px;
}
.mt_290 {
  margin-top: 290px;
}
.mt_295 {
  margin-top: 295px;
}
.mt_300 {
  margin-top: 300px;
}
.mt_350 {
  margin-top: 350px;
}
.mt_400 {
  margin-top: 400px;
}
/*------------------------------------------Margin Top End--------------------------------------------------*/
/*------------------------------------------Margin Bottom Start------------------------------------------------*/
.mb_5 {
  margin-bottom: 5px;
}
.mb_10 {
  margin-bottom: 10px;
}
.mb_15 {
  margin-bottom: 15px;
}
.mb_20 {
  margin-bottom: 20px;
}
.mb_25 {
  margin-bottom: 25px;
}
.mb_30 {
  margin-bottom: 30px;
}
.mb_35 {
  margin-bottom: 35px;
}
.mb_40 {
  margin-bottom: 40px;
}
.mb_45 {
  margin-bottom: 45px;
}
.mb_50 {
  margin-bottom: 50px;
}
.mb_55 {
  margin-bottom: 55px;
}
.mb_60 {
  margin-bottom: 60px;
}
.mb_65 {
  margin-bottom: 65px;
}
.mb_70 {
  margin-bottom: 70px;
}
.mb_75 {
  margin-bottom: 75px;
}
.mb_80 {
  margin-bottom: 80px;
}
.mb_85 {
  margin-bottom: 85px;
}
.mb_90 {
  margin-bottom: 90px;
}
.mb_95 {
  margin-bottom: 95px;
}
.mb_100 {
  margin-bottom: 100px;
}
.mb_105 {
  margin-bottom: 105px;
}
.mb_110 {
  margin-bottom: 110px;
}
/*------------------------------------------Margin Bottom End--------------------------------------------------*/
/*----------------------------------------------Margin Left Start------------------------------------------------------*/
.ml_0 {
  margin-left: 0px;
}
.ml_5 {
  margin-left: 5px;
}
.ml_10 {
  margin-left: 10px;
}
.ml_15 {
  margin-left: 15px;
}
.ml_20 {
  margin-left: 20px;
}
.ml_25 {
  margin-left: 25px;
}
.ml_30 {
  margin-left: 30px;
}
.ml_35 {
  margin-left: 35px;
}
.ml_40 {
  margin-left: 40px;
}
.ml_45 {
  margin-left: 45px;
}
.ml_50 {
  margin-left: 50px;
}
.ml_55 {
  margin-left: 55px;
}
.ml_60 {
  margin-left: 60px;
}
.ml_65 {
  margin-left: 65px;
}
.ml_70 {
  margin-left: 70px;
}
.ml_75 {
  margin-left: 75px;
}
.ml_80 {
  margin-left: 80px;
}
.ml_85 {
  margin-left: 85px;
}
.ml_90 {
  margin-left: 90px;
}
.ml_95 {
  margin-left: 95px;
}
.ml_100 {
  margin-left: 100px;
}
/*----------------------------------------------Margin Left end--------------------------------------------------------*/
/*----------------------------------------------Margin right Start------------------------------------------------------*/
.mr_5 {
  margin-right: 5px;
}
.mr_10 {
  margin-right: 10px;
}
.mr_15 {
  margin-right: 15px;
}
.mr_20 {
  margin-right: 10px;
}
.mr_25 {
  margin-right: 25px;
}
.mr_30 {
  margin-right: 30px;
}
.mr_35 {
  margin-right: 35px;
}
.mr_40 {
  margin-right: 40px;
}
.mr_45 {
  margin-right: 45px;
}
.mr_50 {
  margin-right: 50px;
}
.mr_55 {
  margin-right: 55px;
}
.mr_60 {
  margin-right: 60px;
}
.mr_65 {
  margin-right: 65px;
}
.mr_70 {
  margin-right: 70px;
}
.mr_75 {
  margin-right: 75px;
}
.mr_80 {
  margin-right: 80px;
}
.mr_85 {
  margin-right: 85px;
}
.mr_90 {
  margin-right: 90px;
}
.mr_95 {
  margin-right: 95px;
}
.mr_100 {
  margin-right: 100px;
}
/*----------------------------------------------Margin right end--------------------------------------------------------*/
/*------------------------------------------Padding Top Start------------------------------------------------*/
.pt_5 {
  padding-top: 5px;
}
.pt_10 {
  padding-top: 10px;
}
.pt_15 {
  padding-top: 15px;
}
.pt_20 {
  padding-top: 20px;
}
.pt_25 {
  padding-top: 25px;
}
.pt_30 {
  padding-top: 30px;
}
.pt_35 {
  padding-top: 35px;
}
.pt_40 {
  padding-top: 40px;
}
.pt_45 {
  padding-top: 45px;
}
.pt_50 {
  padding-top: 50px;
}
.pt_55 {
  padding-top: 55px;
}
.pt_60 {
  padding-top: 60px;
}
.pt_65 {
  padding-top: 65px;
}
.pt_70 {
  padding-top: 70px;
}
.pt_75 {
  padding-top: 75px;
}
.pt_80 {
  padding-top: 80px;
}
.pt_85 {
  padding-top: 85px;
}
.pt_90 {
  padding-top: 90px;
}
.pt_95 {
  padding-top: 95px;
}
.pt_100 {
  padding-top: 100px;
}
.pt_105 {
  padding-top: 105px;
}
.pt_110 {
  padding-top: 110px;
}
.pt_115 {
  padding-top: 115px;
}
.pt_120 {
  padding-top: 120px;
}
.pt_125 {
  padding-top: 125px;
}
.pt_130 {
  padding-top: 130px;
}
.pt_135 {
  padding-top: 135px;
}
.pt_140 {
  padding-top: 140px;
}
.pt_145 {
  padding-top: 145px;
}
.pt_150 {
  padding-top: 150px;
}
.pt_155 {
  padding-top: 155px;
}
.pt_160 {
  padding-top: 160px;
}
.pt_165 {
  padding-top: 165px;
}
.pt_170 {
  padding-top: 170px;
}
.pt_175 {
  padding-top: 175px;
}
.pt_180 {
  padding-top: 180px;
}
.pt_185 {
  padding-top: 185px;
}
.pt_190 {
  padding-top: 190px;
}
.pt_195 {
  padding-top: 195px;
}
.pt_200 {
  padding-top: 200px;
}
/*------------------------------------------padding Top End--------------------------------------------------*/
.mb_5 {
  margin-bottom: 5px;
}
.mb_10 {
  margin-bottom: 10px;
}
.mb_15 {
  margin-bottom: 15px;
}
.mb_20 {
  margin-bottom: 20px;
}
.mb_25 {
  margin-bottom: 25px;
}
.mb_30 {
  margin-bottom: 30px;
}
.mb_35 {
  margin-bottom: 35px;
}
.mb_40 {
  margin-bottom: 40px;
}
.mb_45 {
  margin-bottom: 45px;
}
.mb_50 {
  margin-bottom: 50px;
}
.mb_55 {
  margin-bottom: 55px;
}
.mb_60 {
  margin-bottom: 60px;
}
.mb_65 {
  margin-bottom: 65px;
}
.mb_70 {
  margin-bottom: 70px;
}
.mb_75 {
  margin-bottom: 75px;
}
.mb_80 {
  margin-bottom: 80px;
}
.mb_85 {
  margin-bottom: 85px;
}
.mb_90 {
  margin-bottom: 90px;
}
.mb_95 {
  margin-bottom: 95px;
}
.mb_100 {
  margin-bottom: 100px;
}
/*------------------------------------------Margin Bottom End--------------------------------------------------*/
/*----------------------------------------------Margin Left Start------------------------------------------------------*/
.ml_0 {
  margin-left: 0px;
}
.ml_5 {
  margin-left: 5px;
}
.ml_10 {
  margin-left: 10px;
}
.ml_15 {
  margin-left: 15px;
}
.ml_20 {
  margin-left: 20px;
}
.ml_25 {
  margin-left: 25px;
}
.ml_30 {
  margin-left: 30px;
}
.ml_35 {
  margin-left: 35px;
}
.ml_40 {
  margin-left: 40px;
}
.ml_45 {
  margin-left: 45px;
}
.ml_50 {
  margin-left: 50px;
}
.ml_55 {
  margin-left: 55px;
}
.ml_60 {
  margin-left: 60px;
}
.ml_65 {
  margin-left: 65px;
}
.ml_70 {
  margin-left: 70px;
}
.ml_75 {
  margin-left: 75px;
}
.ml_80 {
  margin-left: 80px;
}
.ml_85 {
  margin-left: 85px;
}
.ml_90 {
  margin-left: 90px;
}
.ml_95 {
  margin-left: 95px;
}
.ml_100 {
  margin-left: 100px;
}
/*----------------------------------------------Margin Left end--------------------------------------------------------*/
/*----------------------------------------------Margin right Start------------------------------------------------------*/
.mr_5 {
  margin-right: 5px;
}
.mr_10 {
  margin-right: 10px;
}
.mr_15 {
  margin-right: 15px;
}
.mr_20 {
  margin-right: 10px;
}
.mr_25 {
  margin-right: 25px;
}
.mr_30 {
  margin-right: 30px;
}
.mr_35 {
  margin-right: 35px;
}
.mr_40 {
  margin-right: 40px;
}
.mr_45 {
  margin-right: 45px;
}
.mr_50 {
  margin-right: 50px;
}
.mr_55 {
  margin-right: 55px;
}
.mr_60 {
  margin-right: 60px;
}
.mr_65 {
  margin-right: 65px;
}
.mr_70 {
  margin-right: 70px;
}
.mr_75 {
  margin-right: 75px;
}
.mr_80 {
  margin-right: 80px;
}
.mr_85 {
  margin-right: 85px;
}
.mr_90 {
  margin-right: 90px;
}
.mr_95 {
  margin-right: 95px;
}
.mr_100 {
  margin-right: 100px;
}
/*----------------------------------------------Margin right end--------------------------------------------------------*/
/*------------------------------------------Padding Top Start------------------------------------------------*/
.pt_5 {
  padding-top: 5px;
}
.pt_10 {
  padding-top: 10px;
}
.pt_15 {
  padding-top: 15px;
}
.pt_20 {
  padding-top: 20px;
}
.pt_25 {
  padding-top: 25px;
}
.pt_30 {
  padding-top: 30px;
}
.pt_35 {
  padding-top: 35px;
}
.pt_40 {
  padding-top: 40px;
}
.pt_45 {
  padding-top: 45px;
}
.pt_50 {
  padding-top: 50px;
}
.pt_55 {
  padding-top: 55px;
}
.pt_60 {
  padding-top: 60px;
}
.pt_65 {
  padding-top: 65px;
}
.pt_70 {
  padding-top: 70px;
}
.pt_75 {
  padding-top: 75px;
}
.pt_80 {
  padding-top: 80px;
}
.pt_85 {
  padding-top: 85px;
}
.pt_90 {
  padding-top: 90px;
}
.pt_95 {
  padding-top: 95px;
}
.pt_100 {
  padding-top: 100px;
}
.pt_105 {
  padding-top: 105px;
}
.pt_110 {
  padding-top: 110px;
}
.pt_115 {
  padding-top: 115px;
}
.pt_120 {
  padding-top: 120px;
}
.pt_125 {
  padding-top: 125px;
}
.pt_130 {
  padding-top: 130px;
}
.pt_135 {
  padding-top: 135px;
}
.pt_140 {
  padding-top: 140px;
}
.pt_145 {
  padding-top: 145px;
}
.pt_150 {
  padding-top: 150px;
}
.pt_155 {
  padding-top: 155px;
}
.pt_160 {
  padding-top: 160px;
}
.pt_165 {
  padding-top: 165px;
}
.pt_170 {
  padding-top: 170px;
}
.pt_175 {
  padding-top: 175px;
}
.pt_180 {
  padding-top: 180px;
}
.pt_185 {
  padding-top: 185px;
}
.pt_190 {
  padding-top: 190px;
}
.pt_195 {
  padding-top: 195px;
}
.pt_200 {
  padding-top: 200px;
}
/*------------------------------------------padding Top End--------------------------------------------------*/
/*------------------------------------------Padding Top Start------------------------------------------------*/
.pl_5 {
  padding-left: 5px;
}
.pl_10 {
  padding-left: 10px;
}
.pl_15 {
  padding-left: 15px;
}
.pl_20 {
  padding-left: 20px;
}
.pl_25 {
  padding-left: 25px;
}
.pl_30 {
  padding-left: 30px;
}
.pl_35 {
  padding-left: 35px;
}
.pl_40 {
  padding-left: 40px;
}
.pl_45 {
  padding-left: 45px;
}
.pl_50 {
  padding-left: 50px;
}
.pl_55 {
  padding-left: 55px;
}
.pl_60 {
  padding-left: 60px;
}
.pl_65 {
  padding-left: 65px;
}
.pl_70 {
  padding-left: 70px;
}
.pl_75 {
  padding-left: 75px;
}
.pl_80 {
  padding-left: 80px;
}
.pl_85 {
  padding-left: 85px;
}
.pl_90 {
  padding-left: 90px;
}
.pl_95 {
  padding-left: 95px;
}
.pl_100 {
  padding-left: 100px;
}
.pl_105 {
  padding-left: 105px;
}
.pl_110 {
  padding-left: 110px;
}
.pl_115 {
  padding-left: 115px;
}
.pl_120 {
  padding-left: 120px;
}
.pl_125 {
  padding-left: 125px;
}
.pl_130 {
  padding-left: 130px;
}
.pl_135 {
  padding-left: 135px;
}
.pl_140 {
  padding-left: 140px;
}
.pl_145 {
  padding-left: 145px;
}
.pl_150 {
  padding-left: 150px;
}
.pl_155 {
  padding-left: 155px;
}
.pl_160 {
  padding-left: 160px;
}
.pl_165 {
  padding-left: 165px;
}
.pl_170 {
  padding-left: 170px;
}
.pt_175 {
  padding-top: 175px;
}
.pt_18 {
  padding-left: 180px;
}
.pl_185 {
  padding-left: 185px;
}
.pl_190 {
  padding-left: 190px;
}
.pl_195 {
  padding-left: 195px;
}
.pl_200 {
  padding-left: 200px;
}
/*------------------------------------------padding Top End--------------------------------------------------*/
/*------------------------------------------Fonts Start--------------------------------------------------*/
@font-face {
  font-family: "sf-pro-text-regular";
  src: url('../fonts/sf-pro-text-regular.ttf') format('truetype'), url('../fonts/SFProText-Regular.otf') format('otf') ; 
}
@font-face {
  font-family: "sf-pro-text-medium";
  src: url('../fonts/sf-pro-text-medium.ttf') format('truetype'), url('../fonts/SFProText-Medium.otf') format('otf'), url('../fonts/sf-pro-text-medium.woff') format('woff'); 
}
@font-face {
  font-family: "sf-pro-text-light";
  src: url('../fonts/sf-pro-text-light.ttf') format('truetype'), url('../fonts/SFProText-Light.otf') format('otf'); 
}
@font-face {
  font-family: "sf-pro-text-heavy";
  src: url('../fonts/sf-pro-text-heavy.ttf') format('truetype'); 
}
@font-face {
  font-family: "sf-pro-text-bold";
  src: url('../fonts/sf-pro-text-bold.ttf') format('truetype'), url('../fonts/SF-Pro-Text-Bold.otf') format('otf'); 
}
@font-face {
  font-family: "sf-pro-text-semibold";
  src: url('../fonts/sf-pro-text-semibold.ttf') format('truetype'), url('../fonts/SFProText-Semibold.otf') format('otf'); 
}
/*------------------------------------------Fonts End--------------------------------------------------*/

/*------------------------------------Extra CSS Start-----------------------------------------------*/
.align-item-center{
    align-items: center;
}
a{
  text-decoration: none!important;
}
.black{
  color: #000!important;
}
.red{
  color: #FC2D3D;
}
/*.red:hover{
  color: #FC2D3D;
}*/
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
table tbody tr, table thead tr {
  border: 1px solid #e6e6e6;
}
.table-bordered td, .table-bordered th {
  border: 1px solid #dee2e6;
}
.table td, .table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  text-align: center;
  font-size: 15px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: middle;
  width: 100%;
  margin: 0 0 1.75em;
}
ul.ttm-list {
  list-style: none;
  padding: 0;
  padding-left: 0;
}
.ttm-list.ttm-list-style-icon li {
  padding-left: 27px;
  list-style: none;
  position: relative;
  padding-bottom: 8px;
}
.ttm-list.ttm-list-style-icon li i {
  position: absolute;
  left: 0px;
  top: 5px;
}
.fa-arrow-circle-right:before {
    content: "\f0a9";
    color:#FC2D3D ;
}
.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
/*------------------------------------Extra CSS End-----------------------------------------------*/

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.container{
  max-width: 1440px!important;
}
.container_padding{
  padding-left: 60px!important;
  padding-right: 60px!important;
}
#header {
  padding: 25px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  background-color: #fff;
  height: 100px;
}

@media (max-width: 960px) {
  #header {
    height: 76px;
  }
  #header hr {
    display: none;
  }
}

#header.header-scrolled {
  transition: all 0.5s;
  box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
}

.header-top span {
  color: black;
  font-weight: 500;
}

@media (max-width: 960px) {
  .header-top .menu-top-left, .header-top .menu-top-right {
    display: none;
  }
}

@media (max-width: 414px) {
  .header-top .menu-top-middle {
    justify-content: left !important;
  }
}

.header-top .menu-top-right {
  text-align: right;
}

.header-top .menu-top-right .tel {
  color: #222;
  font-weight: 500;
}

@media (max-width: 960px) {
  .header-top .menu-top-right .tel {
    display: none;
  }
  .header-top .menu-top-right .tel span {
    display: block;
  }
}

.header-top .menu-top-right span {
  background-color: #f6214b;
  color: #fff;
  padding: 33px;
  font-size: 18px;
  font-weight: 700;
  margin-left: 10px;
}

@media (max-width: 480px) {
  .header-top .menu-top-right span {
    background-color: #f6214b;
    color: #fff;
    padding: 12px;
    font-size: 18px;
    font-weight: 700;
    margin-right: 40px;
  }
}

@media (max-width: 480px) {
  .header-top .menu-top-right {
    text-align: right;
    margin-top: -26px;
  }
}

@media (max-width: 673px) {
  #logo {
    margin-left: 20px;
  }
}

#header #logo h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
  padding-left: 10px;
  border-left: 4px solid #f6214b;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 28px;
  }
  #header #logo img {
    max-height: 40px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
  text-align: left;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  margin: 0 40px;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 6px 0px 6px;
  text-decoration: none;
  display: inline-block;
  color: #222;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
  font-family: sf-pro-text-regular;
  font-weight: 600;
}
.nav-menu li:hover > a, .nav-menu > .menu-active > a {
  color: #f6214b;
}
.nav-menu > li {
  margin-left: 10px;
}
.nav-menu ul {
  margin: 14px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}
.nav-menu ul li {
  transition: 0.3s;
}
.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 12px;
  text-transform: none;
}
.nav-menu ul li:hover > a {
  color: #f6214b;
}
.nav-menu ul ul {
  margin: 0;
}
/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 15px;
  z-index: 999;
  top: 24px;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}
#mobile-nav-toggle i {
  color: #f6214b;
  font-weight: 900;
}
@media (max-width: 960px) {
  #mobile-nav-toggle {
    display: inline;
  }
  #nav-menu-container {
    display: none;
  }
}
/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}
#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#mobile-nav ul li {
  position: relative;
}
#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 700;
}
#mobile-nav ul li a:hover {
  color: #fff;
}
#mobile-nav ul li li {
  padding-left: 30px;
}
#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}
#mobile-nav ul .menu-has-children li a {
  text-transform: none;
}
#mobile-nav ul .menu-item-active {
  color: #f6214b;
}
#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}
.free_ass_btn{
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  background: #FC2D3D;
  border-radius: 28px;
  border: none;
  padding: 12px 16px;
  font-family: sf-pro-text-regular;
}


/*---------------------------------Footer Start-------------------------------------------*/

.footer-area {
  background-color: #000;
}
.footer-area h4 {
  padding-bottom: 20px;
  color: #fff;
  font-family: sf-pro-text-regular;
  font-weight: 600;
  font-size: 20px;
}
.footer_img{  
  width: -webkit-fill-available;
}
.footer-area p {
  padding-bottom: 30px;
  color: rgba(255, 255, 255, 0.7);
  font-family: sf-pro-text-regular;
  font-weight: 400;
  padding-right: 32px;
}
.footer-area .number {
  color: #f6214b;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}
.footer-area .genric-btn {
  background: #f6214b;
  border: none;
  border-radius: 57px;
  height: 36px;
  line-height: 44px;
}

.footer-area .primary-btn {
  background-color: #f6214b;
}

.footer-area .primary-btn:hover .lnr {
  color: #f6214b;
}

.footer-area .footer-bottom {
  padding-top: 40px;
}

.footer-area .footer-bottom a {
  color: #f6214b;
}

.footer-area .footer-bottom .footer-social {
  text-align: right;
}

.footer-area .footer-bottom .footer-social a {
  background: #f9f9ff;
  margin: 2px;
  padding: 12px 16px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-area .footer-bottom .footer-social a:hover {
  background-color: #f6214b;
}

.footer-area .footer-bottom .footer-social a:hover i {
  color: #fff;
}

.footer-area .footer-bottom .footer-social i {
  color: #222;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 991.98px) {
  .footer-area .footer-bottom .footer-social {
    text-align: left;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .footer-area .footer-bottom .footer-social {
    margin-top: 20px;
  }
}
.section-gap {
  padding: 100px 120px;
}
.footer_ul{
  list-style-type: none;
  line-height: 30px;
  padding-left: 0px;
}
.footer_li{
  color: #fff;
  font-family: sf-pro-text-regular;
}
.footer_ul_sty{
  display: inline-flex;
  column-gap: 20px;
}
/*---------------------------------Footer End-------------------------------------------*/
/*---------------------------------Home Page Start-------------------------------------------*/
.section_1{
  padding: 250px 0 0 0;
}
.section_1_title{
  font-family: sf-pro-text-medium;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.section_1_subtitle{
  color: #FC2D3D;
}
.section_1_para{
  font-family: sf-pro-text-medium;
  font-style: normal;
  font-size: 18px;
  text-align: center;
}
.section_1_home_banner{
  width: -webkit-fill-available;
}
/*----------------------------------------------------------------------------*/
.section_2{
  padding: 50px 0;
}
.section_2_box{
  padding: 30px 143px 10px 151px;
}
.section_2_title{
  font-family: sf-pro-text-medium;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  color: #12022F;
}
.section_2_para{
  font-family: sf-pro-text-regular;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  padding-right: 20px;
  color: #594D6D;
}
.data_update_title {
  font-family: sf-pro-text-medium;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #FF2D3D;
  text-align: right;
}
.data_update_icon{
  margin-left: 8px;
  width: 20px;
}
.hr_sty{
  border: 1px solid #E7E5EA;
  margin-top: 5px;
}
.counter_box{
  padding-top: 70px;
  display: flex;
  column-gap: 52px;
  margin-left: 18px;
  margin-right: 18px;
}
.counter_box_title{
  color: #380000;
  font-family: sf-pro-text-bold;
  font-weight: 600;
}
.counter_box_subtitle{
  color: #594D6D;
  font-family: sf-pro-text-medium;
  font-weight: 400;
  font-size: 14px;
}
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
.section_3{
  padding: 50px 0;
}
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
.section_4{
  padding: 50px 0;
}
.our_services_title{
  color: #000;
  font-family: sf-pro-text-bold;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin-bottom: 20px;
}
.our_services_subtitle{
  text-align: center;
  font-family: sf-pro-text-Medium;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.2px;
  margin-bottom: 65px;
}
.our_service_list{
  padding-right: 150px;
  padding-left: 150px;
}
.our_service_img{
  margin-bottom: 20px;
}
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
.section_5{
  padding: 80px 0;
}
.main_success_box{
  position: absolute;
  top: 0;
  width: 450px;
  padding: 30px;
}
.main_success_box_text{
  font-family: sf-pro-text-medium;
  line-height: 25px;
  font-size: 18px;
  color: #ffff;
  height: 130px;
}
.main_success_read_more{
  font-family: sf-pro-text-medium;
  line-height: 25px;
  font-size: 17px;
  color: #fff;
}
.other_success_box{
margin-top: 50px;
}
.our_success_title{
  color: #000;
  font-family: sf-pro-text-bold;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0px;
  margin-bottom: 20px;
  line-height: 50px;
}
.our_success_subtitle{
  text-align: center;
  font-family: sf-pro-text-light;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 4px;
  color: #12022F;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.our_success_list{
  padding-right: 150px;
  padding-left: 150px;
  margin-top: 50px;
}
.our_success_details{
  padding:20px;
}
.our_success_para{
  font-family: sf-pro-text-regular;
  line-height: 25px;
  font-size: 16px;
  color: #12022F;
  height: 130px;
}
.our_success_read_more{
  font-family: sf-pro-text-bold;
  line-height: 25px;
  font-size: 17px;
}
.read_more_arrow{
  margin-left: 5px;
}
.all_review{
  background: #000000;
  font-family: sf-pro-text-medium;
  padding: 13px 80px;
  color: #fff;
  border-radius: 50px;
  border: none;
  margin-top: 50px;
}
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
.section_6{
  padding: 80px 0;
}
.our_blogs_title{
  color: #12022F;
  font-family: sf-pro-text-bold;
  font-weight: 400;
  font-size: 50px;
  text-align: left;
  letter-spacing: 0px;
  margin-bottom: 20px;
  line-height: 56px;
}
.our_blogs_subtitle{
  text-align: left;
  font-family: sf-pro-text-light;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 4px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.our_blog_list{
  padding-right: 150px;
  padding-left: 150px;
}
.our_blog_para{
  font-family: sf-pro-text-regular;
  font-size: 18px;
  color: #594D6D;
  padding-right: 35px;
}
.all_blogs{
  background: #000000;
  font-family: sf-pro-text-medium;
  padding: 13px 80px;
  color: #fff;
  border-radius: 50px;
  border: none;
  margin-top: 40px;
}
.card{
  border-radius: 30px;
  border: 1px solid #E7E5EA;
  margin-bottom: 30px;
}
.card-img-top{
  border-radius: 30px 30px 0px 0;
}
.card-body{
  padding: 30px 25px;
}
.card_subtitle{
  text-align: left;
  font-family: sf-pro-text-light;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 4px;
  color: #391484;
  text-transform: uppercase;
}
.card_title{
  color: #12022F;
  font-family: sf-pro-text-semibold;
  font-weight: 400;
  font-size: 22px;
  text-align: left;
  letter-spacing: 0px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.card_para{
  font-family: sf-pro-text-regular;
  font-size: 16px;
  color: #594D6D;
  padding-right: 35px;
}
/*----------------------------------------------------------------------------*/
/*---------------------------------Home Page End-------------------------------------------*/



/*---------------------------------About Page Start-------------------------------------------*/
/*------------------------------------------------------*/
.about_section_1{
  padding: 250px 0 80px 0;
}
.our_company_img{
  width: -webkit-fill-available;
}
.about_section_1_title{
  font-family: sf-pro-text-medium;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  line-height: 70px;
  text-transform: capitalize;
  padding-bottom: 10px;
  padding: 0 220px 150px 220px;
}
.about_section_1_para{
  font-family: sf-pro-text-medium;
  font-style: normal;
  font-size: 18px;
  text-align: center;
}
.about_section_1_banner{
  width: -webkit-fill-available;
}
.our_com_title{
  font-family: sf-pro-text-medium;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  padding-bottom: 10px;
}
.about_sec_box {
    padding-left: 150px;
    padding-right: 150px;
}
.our_com_para{
  font-family: sf-pro-text-regular;
  font-style: normal;
  font-size: 16px;
  padding-bottom: 10px;
  padding-right: 40px;
}
.about_section_2{
  padding: 50px 0 50px 0;
}
.about_section_2_inner{
  padding-left: 150px;
  padding-right: 150px;
}
.about_team_sec_post{  
  font-family: sf-pro-text-bold;
  font-style: normal;
  font-size: 35px;
  line-height: 60px;
  padding-bottom: 30px;
}
.about_team_card{
    padding: 0 5px;
}
.about_team_card_name{
  font-family: sf-pro-text-bold;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  margin-top: 25px;
}
.about_team_card_position{
  font-family: sf-pro-text-medium;
  font-style: normal;
  font-size: 14px;
  color: #FA243C;
  line-height: 26px;
  margin-bottom: 20px;
}
.about_team_card_para{
  font-family: sf-pro-text-regular;
  font-style: normal;
  font-size: 15px;
  line-height: 26px;
  margin-bottom: 20px;
}
.about_team_card_bio{
  font-family: sf-pro-text-bold;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;  
}
.about_team_card_team_img{  
  width: -webkit-fill-available;
}
.about_team_card_bio_arrow{
  margin-left: 35px;
}
.about_team_card_bio_icon{
  float: right;
}
.about_section_3 {
    padding: 50px 0 50px 0;
}
.about_section_3_inner{
  padding-left: 150px;
  padding-right: 150px;
}
.about_section_3_row{
  padding-bottom: 50px;
}
.about_section_4{  
  padding: 100px 0 100px 0;
  background: #FDC4C9;
}
.about_section_4_inner{
  padding-left: 150px;
  padding-right: 150px;
}
.about_investor_title{  
  font-family: sf-pro-text-bold;
  font-style: normal;
  font-size: 55px;
  line-height: 60px;
  padding-bottom: 30px;
  text-align: center;
  margin-bottom: 30px;
}
.investor_box{
  display: flex;
  column-gap: 35px;
  justify-content: center;
}
/*------------------------------------------------------*/
/*---------------------------------About Page End-------------------------------------------*/
/*---------------------------------Permanent Residency Page Start-------------------------------------------*/
.pr_section_1{
  padding: 250px 0 150px 0;
/*  background-image: url('../img/immigration-banner.jpg');*/
  background: #FC2D3D;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.pr_section_head{
  font-family: sf-pro-text-medium;
  font-style: normal;
  font-size: 55px;
  line-height: 60px;
  text-align: center;
  color: #fff;
}
.pr_section_breadcrumb {
  font-family: 'sf-pro-text-regular';
  font-style: normal;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}
.pr_sec_1{
  padding: 80px 0 90px 0;
}
.pr_sec_box{
  padding-left: 150px;
  padding-right: 150px;
}
.pr_sec_title_head{
  font-family: sf-pro-text-bold;
  font-style: normal;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.5px;
    margin-bottom: 20px;
}
.pr_sec_subtitle{
  font-family: sf-pro-text-medium;
  font-style: normal;
  font-size: 25px;
  line-height: 60px;
  font-weight: 600;
}
.pr_sec_para{
  font-family: sf-pro-text-medium;
  font-size: 16px;
  padding-right: 20px;
}
.pr_sec_li_sty{  
  font-family: sf-pro-text-medium;
  font-size: 18px;
  line-height: 38px;
  color: #FC2D3D;
}
.pr_sec_highlight{
  padding: 80px 0;
  background-image: url('../img/re-banner.png') ;
}
.pr_sec_highlight_title{  
  font-family: sf-pro-text-semibold;
  font-size: 35px;
  line-height: 38px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
}
.pr_sec_highlight_btn{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FC2D3D;
  background: #fff;
  border-radius: 50px;
  border: none;
  padding: 12px 40px;
  margin-top: 30px;
  font-family: sf-pro-text-regular;
}
.get_in_touch_sec{
  padding: 80px 0;
}
.get_in_touch_sec_inner{
  padding-left: 150px;
  padding-right: 150px;
}
.get_in_touch_sec_title{
  font-family: sf-pro-text-bold;
  font-size: 35px;
  line-height: 38px;
  color: #000;
  text-align: center;
  text-transform: capitalize;
}
.get_in_touch_box{
  padding-top: 80px;
}
.get_in_touch_box_display {
    display: flex;
    column-gap: 38px;
}
.get_in_touch_img{
  width: 100px;
}
.get_in_touch_call_head{
  padding-top: 30px;
  font-family: sf-pro-text-bold;
  font-size: 30px;
  line-height: 38px;
  color: #FC2D3D;
}
.get_in_touch_call_title{
  padding-top: 20px;
  font-family: sf-pro-text-semibold;
  font-size: 21px;  
}
.get_in_touch_call_text{
  padding-top: 5px;
  font-family: sf-pro-text-regular;
  font-size: 16px;  
}
.get_in_touch_mail_head{
  padding-top: 30px;
  font-family: sf-pro-text-bold;
  font-size: 30px;
  line-height: 38px;
  color: #FC2D3D;
}
.get_in_touch_mail_title {
  padding-top: 20px;
  font-family: sf-pro-text-semibold;
  font-size: 19px;
}
.side_box{
  background: #FC2D3D;
  padding: 30px 20px;
}
.download_box{
  padding: 15px 15px 30px 15px;
  background: #fff;
  margin-bottom: 30px;
}
.download_title{
  font-family: sf-pro-text-semibold;
  font-size: 20px;
  line-height: 38px;
  color: #FC2D3D;
  text-align: left;
  text-transform: capitalize;
}
.download_btn{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #fff;
  background: #FC2D3D;
  border-radius: 10px;
  border: none;
  padding: 12px 40px;
  font-family: sf-pro-text-regular;
}
.appointment_box{
  padding: 15px 15px 30px 15px;
  background: #fff;
  margin-bottom: 30px;
}
.appointment_title {
  font-family: 'sf-pro-text-medium';
  font-size: 20px;
  line-height: 38px;
  color: #FC2D3D;
  text-align: left;
  text-transform: capitalize;
}
.appointment_para {
  font-family: 'sf-pro-text-regular';
  font-size: 15px;
  color: #000;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.appointment_img{
  width: -webkit-fill-available;
  margin-bottom: 20px;
}
.appointment_btn{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #fff;
  background: #FC2D3D;
  border-radius: 10px;
  border: none;
  padding: 12px 40px;
  font-family: sf-pro-text-regular;
}
/*---------------------------------Permanent Residency Page End-------------------------------------------*/

/*---------------------------------Visit Page start-------------------------------------------*/
.visit_section_1{
  padding: 250px 0 150px 0;
/*  background-image: url('../img/immigration-banner.jpg');*/
  background: #FC2D3D;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.visit_section_head{
  font-family: sf-pro-text-medium;
  font-style: normal;
  font-size: 55px;
  line-height: 60px;
  text-align: center;
  color: #fff;
}
.visit_section_breadcrumb {
  font-family: 'sf-pro-text-regular';
  font-style: normal;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}
.visit_sec_1{
  padding: 80px 0 90px 0;
}
.visit_sec_box{
  padding-left: 150px;
  padding-right: 150px;
}
.visit_sec_title_head{
  font-family: sf-pro-text-bold;
  font-style: normal;
  font-size: 36px;
  line-height: 60px;
  letter-spacing: -0.5px;
    margin-bottom: 20px;
}
.visit_sec_subtitle{
  font-family: sf-pro-text-medium;
  font-style: normal;
  font-size: 25px;
  line-height: 60px;
  font-weight: 600;
}
.visit_sec_para{
  font-family: sf-pro-text-medium;
  font-size: 16px;
  padding-right: 20px;
}
.visit_sec_li_sty{  
  font-family: sf-pro-text-medium;
  font-size: 18px;
  line-height: 38px;
  color: #FC2D3D;
}
.visit_sec_highlight{
  padding: 80px 0;
  background-image: url('../img/re-banner.png') ;
}
.visit_sec_highlight_title{  
  font-family: sf-pro-text-semibold;
  font-size: 35px;
  line-height: 38px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
}
.visit_sec_highlight_btn{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FC2D3D;
  background: #fff;
  border-radius: 50px;
  border: none;
  padding: 12px 40px;
  margin-top: 30px;
  font-family: sf-pro-text-regular;
}
/*---------------------------------Visit Page End-------------------------------------------*/
/*---------------------------------study Permit Overview Page Start-------------------------------------------*/

.spo_section_1{
  padding: 250px 0 150px 0;
/*  background-image: url('../img/immigration-banner.jpg');*/
  background: #FC2D3D;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.spo_section_head{
  font-family: sf-pro-text-medium;
  font-style: normal;
  font-size: 55px;
  line-height: 60px;
  text-align: center;
  color: #fff;
}
.spo_section_breadcrumb {
  font-family: 'sf-pro-text-regular';
  font-style: normal;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}
.spo_sec_1{
  padding: 80px 0 90px 0;
}
.spo_sec_box{
  padding-left: 150px;
  padding-right: 150px;
}
.spo_sec_title_head{
  font-family: sf-pro-text-bold;
  font-style: normal;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.5px;
    margin-bottom: 20px;
}
.spo_sec_subtitle{
  font-family: sf-pro-text-medium;
  font-style: normal;
  font-size: 25px;
  line-height: 60px;
  font-weight: 600;
}
.spo_sec_para{
  font-family: sf-pro-text-medium;
  font-size: 16px;
  padding-right: 20px;
}
.spo_sec_li_sty{  
  font-family: sf-pro-text-medium;
  font-size: 18px;
  line-height: 38px;
  color: #FC2D3D;
}
.spo_sec_highlight{
  padding: 80px 0;
  background-image: url('../img/re-banner.png') ;
}
.spo_sec_highlight_title{  
  font-family: sf-pro-text-semibold;
  font-size: 35px;
  line-height: 38px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
}
.spo_sec_highlight_btn{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FC2D3D;
  background: #fff;
  border-radius: 50px;
  border: none;
  padding: 12px 40px;
  margin-top: 30px;
  font-family: sf-pro-text-regular;
}

/*---------------------------------study Permit Overview Page End-------------------------------------------*/


/*---------------------------------Express Page Start-------------------------------------------*/
.express_sec_title_head{
  font-family: sf-pro-text-bold;
  font-style: normal;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}
.express_sec_title{
  font-family: sf-pro-text-bold;
  font-style: normal;
  font-size: 25px;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}
.express_sec_subtitle{
  font-family: sf-pro-text-semibold;
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
}
.express_sec_smalltitle{
  font-family: sf-pro-text-semibold;
  font-style: normal;
  font-size: 17px;
  font-weight: 600;
}
.express_sec_smalltitle_li{
  font-family: sf-pro-text-regular;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
}
.express_sec_para{
  font-family: sf-pro-text-regular;
  font-size: 16px;
  padding-right: 20px;
}
.express_sec_para_2{
  font-family: sf-pro-text-regular;
  font-size: 16px;
  padding-right: 20px;
}
.express_ul{
  list-style-type: disclosure-closed;
  color: #FC2D3D;
  font-size: 25px;
  line-height: 60px;
}
.express_ul_li{
  line-height: 25px;
  margin-bottom: 25px;
}
.express_sec_li_sty_title{
  font-family: sf-pro-text-semibold;
  font-size: 20px;
  font-weight: 700;
}
.express_sec_li_sty{  
  font-family: sf-pro-text-regular;
  font-size: 14px;
  color: #000;
}
/*---------------------------------Express Page End-------------------------------------------*/
/*---------------------------------Provincial Nominee Program Page Start-------------------------------------------*/
.provincial_sec_title_head{
  font-family: sf-pro-text-bold;
  font-style: normal;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}
.provincial_sec_title{
  font-family: sf-pro-text-bold;
  font-style: normal;
  font-size: 25px;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}
.provincial_sec_subtitle{
  font-family: sf-pro-text-semibold;
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
}
.provincial_sec_smalltitle{
  font-family: sf-pro-text-semibold;
  font-style: normal;
  font-size: 17px;
  font-weight: 600;
}
.provincial_sec_smalltitle_li{
  font-family: sf-pro-text-regular;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
}
.provincial_sec_para{
  font-family: sf-pro-text-regular;
  font-size: 16px;
  padding-right: 20px;
}
.provincial_sec_para_2{
  font-family: sf-pro-text-regular;
  font-size: 16px;
  padding-right: 20px;
}
.provincial_ul{
  list-style-type: disclosure-closed;
  color: #FC2D3D;
  font-size: 25px;
  line-height: 30px;
}
.provincial_ul_li{
  line-height: 25px;
  margin-bottom: 10px;
}
.provincial_sec_li_sty_title{
  font-family: sf-pro-text-semibold;
  font-size: 20px;
  font-weight: 700;
}
.provincial_sec_li_sty{  
  font-family: sf-pro-text-regular;
  font-size: 16px;
  color: #000;
}
/*---------------------------------Provincial Nominee Program Page End-------------------------------------------*/
/*---------------------------------Family Sponsorship Page Start-------------------------------------------*/
.family_sec_title_head{
  font-family: sf-pro-text-bold;
  font-style: normal;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}
.family_sec_title{
  font-family: sf-pro-text-bold;
  font-style: normal;
  font-size: 25px;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}
.family_sec_subtitle{
  font-family: sf-pro-text-semibold;
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
}
.family_sec_smalltitle{
  font-family: sf-pro-text-semibold;
  font-style: normal;
  font-size: 17px;
  font-weight: 600;
}
.family_sec_smalltitle_li{
  font-family: sf-pro-text-regular;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
}
.family_sec_para{
  font-family: sf-pro-text-regular;
  font-size: 16px;
  padding-right: 20px;
}
.family_sec_para_2{
  font-family: sf-pro-text-regular;
  font-size: 16px;
  padding-right: 20px;
}
.family_ul{
  list-style-type: disclosure-closed;
  color: #FC2D3D;
  font-size: 25px;
  line-height: 30px;
}
.family_ul_li{
  line-height: 25px;
  margin-bottom: 10px;
}
.family_sec_li_sty_title{
  font-family: sf-pro-text-semibold;
  font-size: 20px;
  font-weight: 700;
}
.family_sec_li_sty{  
  font-family: sf-pro-text-regular;
  font-size: 16px;
  color: #000;
}
/*------------------------------Family Sponsorship Page End---------------------------------*/

/*---------------------------------Atlantic Immigration Page Start-------------------------------------------*/
.atlantic_sec_title_head{
  font-family: sf-pro-text-bold;
  font-style: normal;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}
.atlantic_sec_title{
  font-family: sf-pro-text-bold;
  font-style: normal;
  font-size: 25px;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}
.atlantic_sec_subtitle{
  font-family: sf-pro-text-semibold;
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
}
.atlantic_sec_smalltitle{
  font-family: sf-pro-text-semibold;
  font-style: normal;
  font-size: 17px;
  font-weight: 600;
}
.atlantic_sec_smalltitle_li{
  font-family: sf-pro-text-regular;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
}
.atlantic_sec_para{
  font-family: sf-pro-text-regular;
  font-size: 16px;
  padding-right: 20px;
}
.atlantic_sec_para_2{
  font-family: sf-pro-text-regular;
  font-size: 16px;
  padding-right: 20px;
}
.atlantic_ul{
  list-style-type: disclosure-closed;
  color: #FC2D3D;
  font-size: 25px;
  line-height: 30px;
}
.atlantic_ul_li{
  line-height: 25px;
  margin-bottom: 10px;
}
.atlantic_sec_li_sty_title{
  font-family: sf-pro-text-semibold;
  font-size: 20px;
  font-weight: 700;
}
.atlantic_sec_li_sty{  
  font-family: sf-pro-text-regular;
  font-size: 16px;
  color: #000;
}
/*------------------------------Atlantic Immigration Page End---------------------------------*/

/*---------------------------------Care Giver Page Start-------------------------------------------*/
.care_sec_title_head{
  font-family: sf-pro-text-bold;
  font-style: normal;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}
.care_sec_title{
  font-family: sf-pro-text-bold;
  font-style: normal;
  font-size: 25px;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}
.care_sec_subtitle{
  font-family: sf-pro-text-semibold;
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
}
.care_sec_smalltitle{
  font-family: sf-pro-text-semibold;
  font-style: normal;
  font-size: 17px;
  font-weight: 600;
}
.care_sec_smalltitle_li{
  font-family: sf-pro-text-regular;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
}
.care_sec_para{
  font-family: sf-pro-text-regular;
  font-size: 16px;
  padding-right: 20px;
}
.care_sec_para_2{
  font-family: sf-pro-text-regular;
  font-size: 16px;
  padding-right: 20px;
}
.care_ul{
  list-style-type: disclosure-closed;
  color: #FC2D3D;
  font-size: 25px;
  line-height: 30px;
}
.care_ul_li{
  line-height: 25px;
  margin-bottom: 10px;
}
.care_sec_li_sty_title{
  font-family: sf-pro-text-semibold;
  font-size: 20px;
  font-weight: 700;
}
.care_sec_li_sty{  
  font-family: sf-pro-text-regular;
  font-size: 16px;
  color: #000;
}
/*------------------------------Care Giver Page End---------------------------------*/


/*---------------------------------Work Page Start-------------------------------------------*/
.work_sec_title_head{
  font-family: sf-pro-text-bold;
  font-style: normal;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}
.work_sec_title{
  font-family: sf-pro-text-bold;
  font-style: normal;
  font-size: 25px;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}
.work_sec_subtitle{
  font-family: sf-pro-text-semibold;
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
}
.work_sec_smalltitle{
  font-family: sf-pro-text-semibold;
  font-style: normal;
  font-size: 17px;
  font-weight: 600;
}
.work_sec_smalltitle_li{
  font-family: sf-pro-text-regular;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
}
.work_sec_para{
  font-family: sf-pro-text-regular;
  font-size: 16px;
  padding-right: 20px;
}
.work_sec_para_2{
  font-family: sf-pro-text-regular;
  font-size: 16px;
  padding-right: 20px;
}
.work_ul{
  list-style-type: disclosure-closed;
  color: #FC2D3D;
  font-size: 25px;
  line-height: 30px;
}
.work_ul_li{
  line-height: 25px;
  margin-bottom: 10px;
}
.work_sec_li_sty_title{
  font-family: sf-pro-text-semibold;
  font-size: 20px;
  font-weight: 700;
}
.work_sec_li_sty{  
  font-family: sf-pro-text-regular;
  font-size: 16px;
  color: #000;
}
/*------------------------------Work Page End---------------------------------*/

/*---------------------------------Invest Page Start-------------------------------------------*/
.invest_sec_title_head{
  font-family: sf-pro-text-bold;
  font-style: normal;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}
.invest_sec_title{
  font-family: sf-pro-text-bold;
  font-style: normal;
  font-size: 25px;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}
.invest_sec_subtitle{
  font-family: sf-pro-text-semibold;
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
}
.invest_sec_smalltitle{
  font-family: sf-pro-text-semibold;
  font-style: normal;
  font-size: 17px;
  font-weight: 600;
}
.invest_sec_smalltitle_li{
  font-family: sf-pro-text-regular;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
}
.invest_sec_para{
  font-family: sf-pro-text-regular;
  font-size: 16px;
  padding-right: 20px;
}
.invest_sec_para_2{
  font-family: sf-pro-text-regular;
  font-size: 16px;
  padding-right: 20px;
}
.invest_ul{
  list-style-type: disclosure-closed;
  color: #FC2D3D;
  font-size: 25px;
  line-height: 30px;
}
.invest_ul_li{
  line-height: 25px;
  margin-bottom: 20px;
}
.invest_sec_li_sty_title{
  font-family: sf-pro-text-semibold;
  font-size: 20px;
  font-weight: 700;
}
.invest_sec_li_sty{  
  font-family: sf-pro-text-regular;
  font-size: 16px;
  color: #000;
}
/*------------------------------Invest Page End---------------------------------*/

/*---------------------------------ICT Page Start-------------------------------------------*/
.ict_sec_title_head{
  font-family: sf-pro-text-bold;
  font-style: normal;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}
.ict_sec_title{
  font-family: sf-pro-text-bold;
  font-style: normal;
  font-size: 25px;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}
.ict_sec_subtitle{
  font-family: sf-pro-text-semibold;
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
}
.ict_sec_smalltitle{
  font-family: sf-pro-text-semibold;
  font-style: normal;
  font-size: 17px;
  font-weight: 600;
}
.ict_sec_smalltitle_li{
  font-family: sf-pro-text-regular;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
}
.ict_sec_para{
  font-family: sf-pro-text-regular;
  font-size: 16px;
  padding-right: 20px;
}
.ict_sec_para_2{
  font-family: sf-pro-text-regular;
  font-size: 16px;
  padding-right: 20px;
}
.ict_ul{
  list-style-type: disclosure-closed;
  color: #FC2D3D;
  font-size: 25px;
  line-height: 30px;
}
.ict_ul_li{
  line-height: 25px;
  margin-bottom: 10px;
}
.ict_sec_li_sty_title{
  font-family: sf-pro-text-semibold;
  font-size: 20px;
  font-weight: 700;
}
.ict_sec_li_sty{  
  font-family: sf-pro-text-regular;
  font-size: 16px;
  color: #000;
}
/*------------------------------ICT Page End---------------------------------*/

/*---------------------------------Entrepreneur Page Start-------------------------------------------*/
.entrepreneur_sec_title_head{
  font-family: sf-pro-text-bold;
  font-style: normal;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}
.entrepreneur_sec_title{
  font-family: sf-pro-text-bold;
  font-style: normal;
  font-size: 25px;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}
.entrepreneur_sec_subtitle{
  font-family: sf-pro-text-semibold;
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
}
.entrepreneur_sec_smalltitle{
  font-family: sf-pro-text-semibold;
  font-style: normal;
  font-size: 17px;
  font-weight: 600;
}
.entrepreneur_sec_smalltitle_li{
  font-family: sf-pro-text-regular;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
}
.entrepreneur_sec_para{
  font-family: sf-pro-text-regular;
  font-size: 16px;
  padding-right: 20px;
}
.entrepreneur_sec_para_2{
  font-family: sf-pro-text-regular;
  font-size: 16px;
  padding-right: 20px;
}
.entrepreneur_ul{
  list-style-type: disclosure-closed;
  color: #FC2D3D;
  font-size: 25px;
  line-height: 30px;
}
.entrepreneur_ul_li{
  line-height: 25px;
  margin-bottom: 10px;
}
.entrepreneur_sec_li_sty_title{
  font-family: sf-pro-text-semibold;
  font-size: 20px;
  font-weight: 700;
}
.entrepreneur_sec_li_sty{  
  font-family: sf-pro-text-regular;
  font-size: 16px;
  color: #000;
}
/*------------------------------Entrepreneur Page End---------------------------------*/